<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36233298887-a2qr6adci237s8u8kvqjsco96knlrre8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36233298887-a2qr6adci237s8u8kvqjsco96knlrre8</string>
	<key>API_KEY</key>
	<string>AIzaSyD9IPwumbqcANJzfQ9WyHPCK1_LcdK3Ct0</string>
	<key>GCM_SENDER_ID</key>
	<string>36233298887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fedyaShashlik</string>
	<key>PROJECT_ID</key>
	<string>fedyashashlik-4444e</string>
	<key>STORAGE_BUCKET</key>
	<string>fedyashashlik-4444e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36233298887:ios:dd3d1263fe5b0955094fe2</string>
</dict>
</plist>